body {
  font-family: "Montserrat", sans-serif;
}

/* header */
header {
  background: url("images/cv-banner.png") no-repeat center center / cover;
  height: 100vh;
  background-size: cover;
}

.profile-pic {
  width: 240px;
  height: 240px;
  border: 5px solid;
  box-shadow: 0px 0px 20px 0px;
  animation: profile-pic 4s ease ;
}

@media (max-width: 1450px) {
  .profile-pic {
    position: initial;
    margin: 0 auto;
    display: block;
  }
}
/* navbar */
.navbar-menu {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5));
  padding: 15px;
  transition: all 0.4s;
}

.menu-item {
  font-size: 13px;
  letter-spacing: 1px;
  color: #eee;
  transition: all 0.4s;
}

.nav-active,
.menu-item:hover {
  color: #70aed2;
}
.line1,
.line2,
.line3 {
  width: 23px;
  height: 3px;
  margin: 5px;
  transition: all 0.2s;
}

.menu-opened .line1 {
  transform: rotatez(-45deg) translateY(5px) translateX(-6px);
}

.menu-opened .line2 {
  opacity: 0;
}

.menu-opened .line3 {
  transform: rotatez(45deg) translateY(-5px) translateX(-6px);
}

nav {
  transition: all 0.4s;
}

.custom-navbar {
  padding-top: 5px;
  padding-bottom: 5px;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7));
}
/* end of navbar */
/* banner */

.banner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

.banner-heading {
  animation-name: anim;
  animation-duration: 2s;
}

.banner-par {
  animation-name: anim;
  animation-duration: 2s;
  animation-delay: 0.5s;
  animation-fill-mode: backwards;
}
@keyframes anim {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes profile-pic {
  0% {
    opacity: 0;
  }
  30%{opacity: 0;}
  100% {
    opacity: 1;
  }
}
/* end of banner */

/* experiences */
.experiences {
  background-color: #151f20;
}

.underline {
  width: 150px;
  border-bottom: 3px solid white;
  margin: auto;
}

/* end of experiences */

.underline-dark{
    border-bottom: 5px solid #343a40;
    width: 180px;
    margin: 0 auto;
    border-radius: 10px;
}


.exp{
    padding: 2px 9px;
    background: #1b8dc8;
    border-radius: 6px;
    color: white;
    min-width: 73px;
    text-align: center;
    text-shadow: 0px 0px 2px;
}